.D1 {
    width: 835px;
    height: 125px;
    font-size: 30px;
    border-radius: 20px;
}

.D2 {
    width: 835px;
    height: 125px;
    font-size: 30px;
    border-radius: 20px;
}

.header {
    font-size: 50px;
    margin-left: 650px;
    vertical-align: top; 
}

.Cbutton {
    width: 835px;
    height: 125px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: green;
    border-color: forestgreen;
    font-size: 80px;
    color: lightgreen;
    border-radius: 20px;
}

.Cbutton:hover {
    color:green;
    border-color:lawngreen;
    background-color: rgb(17, 216, 17); /* Change to a different color on hover */
    transform: scale(1.05); /* Slightly scale the button */
}