<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css/">
    <script src="sup.js"></script>
    <style>
        input {text-align: center;}
    </style>

    <title>Drug to Drug Interaction</title>
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop>
            <source src="your-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class = "content">
            <h1 class="header">Drug To Drug Interaction</h1>
            <input type="text" id="D1" name="D2" class="D1"><br><br>
            <input type="text" id="D2" name="D1" class="D2"><br><br>
            <input type="button" id="confo" name="confo" class="confo" value="Confirm"><br><br>
            <h2 class="interaction">PLACE HOLDER FOR FUTURE REACTIONS</h2>
            <h2 class="des1">PLACE HOLDER FOR DESCRIPTION FOR DRUG</h2>
            <h2 class="des2">PLACE HOLDER FOR DESCRIPTION FOR DRUG</h2>
        </div>
    </div>
</body>
</html>