<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css/">
    <script src="sup.js"></script>
    <style>
        input {text-align: center;}
    </style>

    <title>Drug to Drug Interaction</title>
    <link rel="shortcut icon" href="/static/images/DDIlogo.png/" type="image/x-icon"/>
</head>
<body>
    <div class="hbox" style="display: flex; justify-content: center; align-items: center;">
    <h1 class="header">Drug To Drug Interaction</h1>
    </div>
    <form action="/" method="post">
        <table>
            <tr>
                <td>
                    <div class="box" id="box1" style="display: flex; justify-content: center; align-items: center;">
                    <input type="text" id="D1" name="D1" class="D1" placeholder="Input Drug"><br><br>
                    </div>
                </td>
                <td>
                </td>
                <td>
                    <label class="des1">{{test}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="box" style="display: flex; justify-content: center; align-items: center;">
                    <input type="text" id="D2" name="D2" class="D2" placeholder="Input Drug"><br><br>
                    </div>
                </td>
                <td> 
                </td>
                <td>
                    <label class="des2">PLACE HOLDER FOR DESCRIPTION FOR DRUG</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" id="Cbutton" name="Cbutton" class="Cbutton" value="Confirm"><br><br>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </form>
    <h2 class="interaction">PLACE HOLDER FOR FUTURE REACTIONS</h2>
</body>
</html>